*{
    font-family: "Lato", sans-serif;
}

.home-bg {
  width: 100%;
  height: 550px; 
  background: linear-gradient(
    to right, 
    rgb(18, 20, 31) 0%,   
    rgba(18, 20, 32, 0.8) 40%,  
    rgba(18, 20, 32, 0) 100%     
  ), 
  url('../Assets/banner-image.png');

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  
  padding-left: 5%;
}
